.footer{
    height: auto;
    width: 100vw;
    background-color: var(--black);
    overflow-y: hidden;
    overflow-X: scroll;
    &-div{
        height: 80vh;
        width: 3000px;
        margin-top: -200px;
        background-color: var(--black);
        overflow-X: hidden;
        overflow-y: hidden;
        background-position: center;
        background-image: url("../../Images/question\ mark.svg");
        border-top: solid 2px var(--underline);
        
    }
    &-details{
        background-color: white;
        width: 350px;
        height: 200px;
        position: sticky;
        top: 40%;
        left: 50vw;
        transform: translate(-50%,-50%);
    }
    
    .socialmedia{
        width: 100vw;
        position: sticky;
        bottom: 0;
        left: 0;
        border-top: 2px solid var(--underline);
        height: 20vh;
        overflow-x: hidden;
        color: white;
        display: grid;
        place-content: center;
        background: var(--black);
        &-icons{
            width: 400px;
            height: 100px;
            align-items: center;
            display: flex;
            justify-content: space-between;
        }
    }
}
